This is the artists concerts page


 <!-- @artists.each do |artist| -->



<!-- Call CoverVid -->
<script type="text/javascript">
  // If using jQuery
    $('.masthead-video').coverVid(1080,720);
  // If not using jQuery (Native Javascript)
    //coverVid(document.querySelector('.masthead-video'), 1920, 1080);
</script>


<!-- Video Markup -->
<section class="masthead">
  <div></div>
  <div class="masthead-overlay"></div>
  <div class="masthead-arrow"></div>
  <h2 id='a_name'><%= the_artist.name %></h2><br>
<img src= "<%= the_artist.url %>" height="420" width="auto" /><br>



  </a>
</section>

<div id='straight'></div>
<div id='many'></div>

<div id='past_sect'>
	<h3 id='past'> Past Concerts </h3>
	<div class="vid  one_vid spread"></div>
	<div class="vid  one_vid spread"></div>
	<div class="vid  one_vid spread"></div>
	<div class="vid  one_vid spread"></div>
	<div class="vid  one_vid spread"></div>
	<div class="vid  one_vid spread"></div>
	<div class="vid  one_vid spread"></div>
	<div class="vid  one_vid spread"></div>
	<div class="vid  one_vid spread"></div>
	<div class="vid  one_vid spread"></div>
	<div class="vid  one_vid spread"></div>
	<div class="vid  one_vid spread"></div>

	<% past_concerts.each do |concert| %>
	<%= concert.venue %>
	<% end %>
</div>

<div id='upcoming'>
	<h3 > Upcoming Concerts </h3>

<h3> Upcoming Concerts </h3>

<% future_concerts.each do |concert| %>
<%= concert.venue %><br>
<%= concert.date_time %><br><br>
<% end %>

</div>
