This is the artists concerts page


 <!-- @artists.each do |artist| -->


<h2><%= the_artist.name %></h2><br>
<img src= "<%= the_artist.url %>" height="420" width="auto" /><br>


<% artist_concerts.each do |concert| %>
<%= concert.venue %><br>
<%= concert.date_time %><br><br>
<% end %>



<h3> Past Concerts </h3>

<% past_concerts.each do |concert| %>
<%= concert.venue %><br>
<%= concert.date_time %><br><br>
<% end %>


<h3> Upcoming Concerts </h3>

<% future_concerts.each do |concert| %>
<%= concert.venue %><br>
<%= concert.date_time %><br><br>
<% end %>