<header id='concert_header'>
  <ul class="concert_menu wow bounceInUp animated">
    <li class='line'>_____</li>
    <li class='line'>_____</li>
    <li class='line'>_____</li>
  </ul>
  <%= image_tag 'camera.png', id: 'camera_concert' %>
</header>

<div ='artist_content'>
   <!-- @artists.each do |artist| -->
   <!-- Call CoverVid -->
   <script type="text/javascript">
    // If using jQuery
    $('.masthead-video').coverVid(1080,720);
    // If not using jQuery (Native Javascript)
      //coverVid(document.querySelector('.masthead-video'), 1920, 1080);
  </script>
      <!-- Video Markup -->
      <section class="masthead">
        <div></div>
        <div class="masthead-overlay"></div>
        <div class="masthead-arrow"></div>
        <h1 id='video-header' class="wow fadeInDown animated" data-wow-delay='1.3s'><%= @artist.name %></h1><br>
        <img src= "<%= @artist.url %>" height="420" width="auto" /><br>
      </a>
    </section>
  <div>
    <%= image_tag "layout.png", id: 'many' %>
  </div>

    <div id='past_sect'>
     <h3 id='past'> Past Concerts </h3>
     <p>Sort: <%= link_to "newest", artist_path(:sort_type => "newest" ) %> | <%= link_to "oldest", artist_path(:sort_type => "oldest" ) %><br></p>
     <% @artist_past_concerts.each do |concert| %>
     <div class="vid  one_vid spread">
     <%= link_to concert.venue, concert_path(concert.id) %><br>
     <%= concert.date_time %><br>


     <% if concert.videos.count > 0 %>
       <img class="concert-thumbnail" src="<%= concert.videos.sample.thumbnail_url %>"/>
      <% end %>

     <% end %>
     </div><br>
    </div>

   <div id='upcoming'>
     <h3> Upcoming Concerts </h3>

     <% @artist_future_concerts.each do |concert| %>
     <%= concert.venue %><br>
     <%= concert.date_time %><br><br>
     <% end %>
   </div>

  </div>

</div>
