  
  <header id='artist_header'>
  <ul class="concert_menu wow bounceInUp animated">
    <li class='concert_line'>_____</li>
    <li class='concert_line'>_____</li>
    <li class='concert_line'>_____</li>
  </ul>
  <div id='music'>
    <%= image_tag 'pillar1.png', class: 'pillars_menu', id: 'pillar1_menu' %>
    <%= image_tag 'pillar2.png', class: 'pillars_menu', id: 'pillar2_menu' %>
    <%= image_tag 'pillar3.png', class: 'pillars_menu', id: 'pillar3_menu' %>
    <%= image_tag 'pillar2.png', class: 'pillars_menu', id: 'pillar2_2_menu' %>
    <%= image_tag 'pillar1.png', class: 'pillars_menu', id: 'pillar1_1_menu' %>
  </div>
  <%= link_to image_tag('camera.png', id: 'camera_concert'), root_path %>
</header>


<div id='vid_area'>

  <div ='artist_content'>
     <!-- @artists.each do |artist| -->
     <!-- Call CoverVid -->
     <script type="text/javascript">
      // If using jQuery
      $('.masthead-video').coverVid(1080,720);
      // If not using jQuery (Native Javascript)
        //coverVid(document.querySelector('.masthead-video'), 1920, 1080);
    </script>
        <!-- Video Markup -->
        <section class="masthead">
          <div></div>
          <div class="artist-masthead-overlay"></div>
          <div class="masthead-arrow"></div>
          <h1 id='video-header' class="wow fadeInDown animated" data-wow-delay='1.3s'><%= @artist.name %></h1><br>
          <img src= "<%= @artist.url %>" height="420" width="auto" /><br>
        </a>
      </section>
    <div>
      <%= image_tag "layout.png", id: 'many' %>
    </div>

      <div id='past_sect'>
       <h3 id='past'> Past Concerts </h3>
       <p class="sort">Sort: <%= link_to "newest", artist_path(:sort_type => "newest" ) %> | <%= link_to "oldest", artist_path(:sort_type => "oldest" ) %><br></p>
        <div id='vids'>     
         <% @artist_past_concerts.each do |concert| %>
           <% if concert.videos.count > 0 %>
             <%= link_to image_tag(concert.videos.sample.thumbnail_url, class: "vid  one_vid spread"),concert_path(concert.id) %>
           <% end %>
           <h2 class='ven'><%= link_to concert.venue, concert_path(concert.id) %></h2><br>
           <h4 class='con_date'><%= concert.date_time.strftime("%b . %d . %Y") %></h4><br>
         <% end %>
         </div><br>
      </div>

  <%if false %>
  <div id='upcoming'>
       <h3> Upcoming Concerts </h3>

       <% @artist_future_concerts.each do |concert| %>
       <%= concert.venue %><br>
       <%= concert.date_time.strftime("%b . %d . %Y") %><br><br>
       <% end %>
  </div>
  <% end %>
  </div>
