<h1>Welcome to Posting Comments</h1>

<%= form_for(@comment) do |f| %>
  <div class="actions">
    <%= f.text_field :content %><br>
    <%= f.hidden_field :video_id, :value => params[:thevideo_id] %><br>
     <%= f.hidden_field :user_id, :value => current_user.id %><br>
     <%= f.hidden_field :theconcert_id, :value => params[:concert_id] %><br>
    <%= f.submit %>
  </div>

<%end%>