<div id='user_prof'>

	<div>
		<% if current_user.url == nil %>
		<img id='user_prof' src= "<%= gravatar_url(current_user)%>">
		<% else %>
		<img id='user_prof' src= "<%= current_user.url %>">
		<% end %>
		<p id='user_name'><%=current_user.username%></p>
		<div id='area'>
			<%= link_to "Sign-Out", signout_path %>
			<div id="edit_user">
				<%= link_to "Edit Profile", { :class=>"edit_profile_link" } %>
			</div>
		</div>
	</div>

	<!-- @user_videos = Video.where(user_id = current_user.url) -->

	<h6>The User Videos</h6>
	<% User.user_videos(current_user.id).each do |video| %>
	<%= video.url %>
	<% end %>

	<h6>The Concerts that the User Contributed to</h6>
	<% User.user_contributed_concerts(current_user.id).each do |concert| %>
	<%= link_to concert.venue, concert_path(concert.id) %>
	<%= concert.date_time %>
	<% end %>

	<h6>The Videos that the User has liked.</h6>
	<% if @user_liked_vids.count > 0 %>
	<% @user_liked_vids.each do |video| %>
	<%= video.video_url %>
	<% end %>
	<% else %>
	<h6> The User hasen't liked any videos yet!</h6>
	<% end %>

	<h6>The list of Concerts that the User has Attended.</h6>
	<% if @user_attendance.count > 0 %>
	<%  @user_attendance.each do |concert| %>
	<%= concert.venue %>
	<%= concert.date_time %>
	<% end %>
	<% else %>
	<h6> The User hasen't attended any concerts yet!</h6>
	<% end %>
</div>