<div id='signup'>
  <%= form_for @user do |f| %>


    <%= f.label :email, class: 'mini_title'  %><br>
    <%= f.text_field :email, class: 'mini_title'  %><br>
    <%= f.label :username, class: 'mini_title'  %><br>
    <%= f.text_field :username, class: 'mini_title'  %><br>
    <%= f.label :password, class: 'mini_title'  %><br>
    <%= f.password_field :password, class: 'mini_title'  %><br>
    <%= f.label :password, class: 'mini_title'  %><br>
    <%= f.password_field :password_confirmation, class: 'mini_title'  %><br>
    <%= f.submit :class => 'sign_mit' %>
  <% end %>
</div>