<div id='off_left'>
	<div id='user_show'>
		<h1 id="ex3">X</h1>
		<% if session[:user_id] %>
			<%= render partial: 'dashboard' %>
		<% end %>
	</div>
</div>



<video autoplay loop poster="/assets/white.png" id="home_back">
	<source src="Showgoer.mp4" type="video/webm">


</video>

<div id='menu'>
	<ul class=" wow bounceInUp animated">
		<li class='line'>_____</li>
		<li class='line'>_____</li>
		<li class='line'>_____</li>
	</ul>
</div>

<div id='index_center'>
	<div id='split_logo'>
		<%= image_tag 'camera.png', id: 'camera' %>
		<%= image_tag 'pillar1.png', class: 'pillars', id: 'pillar1' %>
		<%= image_tag 'pillar2.png', class: 'pillars', id: 'pillar2' %>
		<%= image_tag 'pillar3.png', class: 'pillars', id: 'pillar3' %>
		<%= image_tag 'pillar2.png', class: 'pillars', id: 'pillar2_2' %>
		<%= image_tag 'pillar1.png', class: 'pillars', id: 'pillar1_1' %>
	</div>
	<h1 id='title'>SHOW<h1 id='goer' class="wow fadeInDown animated" data-wow-delay='2s'>GOER</h1></h1>
	<div>
		<%= render partial: 'searchform' %>
	</div>

	<div class="signin_button fadeInUp animated">
		<a href="#" class="wow fadeInUp animated" data-wow-delay='1.5s' id='login_but'>LOGIN</a>
	</div>

	<div class="signin fadeIn animated">
		<%= render partial: 'signin' %>
	</div>

	<div class="signup_button fadeInUp animated">
		<a href="#" id='signup_but' class="wow fadeInUp animated" data-wow-delay='1.5s'>SIGNUP</a>
	</div>

	<div class="signup fadeIn animated">
		<%= render partial: 'signup' %>
	</div>
</div>


