<div class="all_users_page">
  <div id='user_prof'>
    <div>
      <img id='user_prof' src= "<%= @user.url%>">
      <p id='user_name'><%= @user.username %></p>
      <div id='area'>
        <div id="edit_user">
          <%= link_to "Follow", createfollowings_path(@user.id), :class=>"follow_link", data:{ :originator_id => current_user.id, :target_id => @user.id }, method: :post %> |
          <%= @user_followers_count %>
          <%= link_to "Followers", originators_path(@user.id) %> |
          <%= @user_followings_count %>
          <%= link_to "Following", targets_path(@user.id) %>
        </div>
      </div>
    </div>


    <% User.user_videos(@user.id).each do |video| %>
    <%= video.url %><br>
    <% end %>

    <% User.user_contributed_concerts(@user.id).each do |concert| %>
    <%= link_to concert.venue, concert_path(concert.id) %>
    <%= concert.date_time.strftime("%b . %d . %Y")  %><br>
    <% end %>
  </div>
</div>
