<div class="all_users_page">
<div id='user_prof'>

  <div>
    <img id='user_prof' src= "<%= @user.url%>">
      <p id='user_name'><%= @user.username %></p>
    <div id='area'>
      <div id="edit_user">
        <%= link_to "Follow", createfollowings_path(@user.id), method: :post %> |
        <%= link_to "Following" %> |
        <%= link_to "Followers" %>
      </div>
    </div>
  </div>


</div>
</div>



