<div class="all_users_page">
  <div id='user_prof'>
    <div>
      <img id='user_prof' src= "<%= @user.url%>">
      <p id='user_name'><%= @user.username %></p>
      <div id='area'>
        <div id="edit_user">
          <%= link_to "Follow", createfollowings_path(@user.id), :class=>"follow_link", data:{ :originator_id => current_user.id, :target_id => @user.id }, method: :post %> |
          <%= @user_followers_count %>
          <%= link_to "Followers", originators_path(@user.id) %> |
          <%= @user_followings_count %>
          <%= link_to "Following", targets_path(@user.id) %>
        </div>
      </div>
    </div>


    <% User.user_videos(@user.id).each do |video| %>
    <img src= "<%= video.thumbnail_url %>" class="dash_img">
    <% end %>

    <% User.user_contributed_concerts(@user.id).each do |concert| %>
    <%= link_to concert.venue, concert_path(concert.id) %>
    <%= concert.date_time.strftime("%b . %d . %Y")  %><br>
    <% end %>
  </div>
</div>

<div>
<h6>The Videos that the User has liked.</h6>
<% if current_user %>
<% if @user_liked_vids.count > 0 %>
<% @user_liked_vids.each do |video| %>
<%= video.url %>
<% end %>
<% else %>
<h6> The User hasen't liked any videos yet!</h6>
<% end %>
<% end %>

<h6>The list of Concerts that the User has Attended.</h6>
<% if current_user %>
<% if @user_attendance.count > 0 %>
<%  @user_attendance.each do |concert| %>
<%= concert.venue %>
<%= concert.date_time.strftime("%b . %d . %Y") %>
<% end %>
<% else %>
<h6> The User hasen't attended any concerts yet!</h6>
<% end %>
<% end %>
</div>
















</div>
