<div class="the_new_form" data-video-id="<%= video_id %>">
<%= form_for(@comment) do |f| %>
  <div class="actions" class= "new_form">
    <%= f.text_field :content, :id => "comment_msg" %><br>
    <%= f.hidden_field :video_id, :value => video_id, :id => "comment_video_id" %><br>
     <%= f.hidden_field :user_id, :value => user_id, :id => "comment_user_id" %><br>
    <%= f.submit %>
  </div>
<%end%>
</div>