
    <% related_videos.each do |video| %>
      <video class="concert-video" width="600" controls>
        <source src="<%= video.url %>" type="video/mp4">
      </video>

      <div class="video-console">

        <div class="likes">
          
         <% if current_user %> 
            <% if current_user.likes.where(video_id: video.id).count < 1 %>
              <%= link_to 'like', likes_path(:user_id => current_user.id, :video_id => video.id), class: "like-btn", data:{ :user_id => current_user.id, :video_id => video.id }   %>
            <% else %>
             <button class="like-btn">like</button>
            <% end %>
         <% else %>
             <span>Likes:</span>
         <% end %>
            <span class="likes-vote-count<%= video.id %>" 
                  data-video-id="<%= video.id %>">
                  <%= video.likes.count %>
            </span>
        </div>

        
      <div class="dislikes">
       <% if current_user %> 
          <% if current_user.dislikes.where(video_id: video.id).count < 1 %>
            <%= link_to 'dislike', dislikes_path(:user_id => current_user.id, :video_id => video.id), class: "dislike-btn", data:{ :user_id => current_user.id, :video_id => video.id }   %>
          <% else %>
           <button class="dislike-btn">dislike</button>
          <% end %>
        <% else %>
          <span>Dislikes:</span>
        <% end %>

          <span class="dislikes-vote-count<%= video.id %>" 
                data-video-id="<%= video.id %>">
                <%= video.dislikes.count %>
          </span>
          </div>
      <% end %>
      </div>


