

    <% related_videos.each do |video| %>
    <video class="concert-video" width="600" controls>
      <source src="<%= video.url %>" type="video/mp4">
      </video>
      <br>
      <% if current_user %>
      <%= link_to "Comment", new_comment_path(:thevideo_id => video.id, :concert_id => concert_id), class: 'post_com' %>
      <%= render partial: 'comments', :locals => {:commentvideo => video} %>
      <% end %>


      <div class="likes">

       <% if current_user %>
         <% if current_user.likes.where(video_id: video.id).count < 1 %>
           <%= link_to '★', likes_path(:user_id => current_user.id, :video_id => video.id), class: "like-btn", data:{ :user_id => current_user.id, :video_id => video.id }   %>
         <% else %>
         <button class="like-btn">★</button>
         <% end %>
       <% else %>
         <span>Dislikes:</span>
       <% end %>

        <span class="like_num likes-vote-count<%= video.id %>" 
            data-video-id="<%= video.id %>">
            <%= video.likes.count %>
        </span>
      </div>

   <% if current_user %>

     <% if current_user.dislikes.where(video_id: video.id).count < 1 %>
       <%= button_to 'x', dislikes_path(:user_id => current_user.id, :video_id => video.id), class: "dislike-btn", data:{ :user_id => current_user.id, :video_id => video.id }   %>
     <% else %>
       <button class="dislike-btn">x</button>
     <% end %>
   <% else %>
     <span>Disikes:</span>
   <% end %>
   <span class="dislike_num dislikes-vote-count<%= video.id %>"
    data-video-id="<%= video.id %>">
    <%= video.dislikes.count %>
  </span>
</div>
<% end %>
  

