
<!-- Video Markup -->
<section class="masthead">
  <video class="masthead-video" autoplay loop muted>
    <source src="<%= @header_video %>" type="video/mp4">
  </video>
  <div class="masthead-overlay"></div>
  <div class="masthead-arrow"></div>

  <% if false %>
  <h1 id="video-header">
    <% @concert.artists.each do |artist| %>
  <% end %>

  <h1 id="video-header" class="wow fadeInDown animated" data-wow-delay='1.3s'>
    <% @test_concert.artists.each do |artist| %>
      video area
       <%= link_to artist.name, "#" %><br>
    <% end %>


    <span>@ <%= @concert.venue %></span></h1>


  </a>
</section>


<section class="content">

  <div class="container">

  <div = "no-videos">
     <% if @related_videos.count == 0 %>
      <h2> Sorry, there are no videos for the concert yet.</h2>
    <% if !current_user %>
      <h3> Why don't you sign up and post some (^_^)?</h3>
     <% end %>
    <% end %>  
  </div>

  <% if current_user %>
    <div class="upload-form-container">
      <%= render partial: 'upload', :locals => {:s3_direct_post => @s3_direct_post} %>
    </div>
  <% end %>

  <% if current_user %>

  <% end %>

  <div id="attendance-count">
    <% if @concert.attendance == 1 %>
      <h4><%= @concert.attendance %> person attended </h4>
    <% else %>
      <h4><%= @concert.attendance %> people attended </h4>
    <% end %>
  </div>

    <div class="video-container">
      <%= render partial: 'videos', :locals => {:related_videos => @related_videos} %>
    </div>

  </div>
</section>


<!-- Call CoverVid -->
<script type="text/javascript">
  // If using jQuery
  $(document).ready(function(){
    $('.masthead-video').coverVid(1080,720);
  // If not using jQuery (Native Javascript)
    //coverVid(document.querySelector('.masthead-video'), 1920, 1080);
  });
</script>