


<!-- Video Markup -->
<section class="masthead">
  <video class="masthead-video" autoplay loop muted>
    <source src="<%= @header_video %>" type="video/mp4">
  </video>
  <div class="masthead-overlay"></div>
  <div class="masthead-arrow"></div>
  <h1 class="videocover">
    <% @test_concert.artists.each do |artist| %>
      <a href="#"><%= artist.name %></a><br>
    <% end %>


    <span>@ <%= @test_concert.venue %></span></h1>

  </a>


</section>
<section class="content">
  <div class="container">


  <div class="upload-form-container">
    <%= render partial: 'upload', :locals => {:s3_direct_post => @s3_direct_post} %>
  </div>

    <% @related_videos.each do |video| %>
      <video class="concert-video" width="400" controls>
        <source src="<%= video.url %>" type="video/mp4">
      </video>

      <div class="video-console">
        <div class="likes">
          <%= button_to video.likes.count, likes_path(:user_id => 1, :video_id => video.id), class: "like-btn" %>
        </div>

        <div class="dislikes">
          <%= button_to video.dislikes.count, dislikes_path(:user_id => 1, :video_id => video.id), class: "dislike-btn" %>
        </div>
     </div>


    <% end %>



  </div>
</section>


<!-- Call CoverVid -->
<script type="text/javascript">
  // If using jQuery
  $(document).ready(function(){
    $('.masthead-video').coverVid(1080,720);
  // If not using jQuery (Native Javascript)
    //coverVid(document.querySelector('.masthead-video'), 1920, 1080);
  });
</script>