  <!-- Call CoverVid -->
  <script type="text/javascript">
    // If using jQuery
    $(document).ready(function(){
      $('.masthead-video').coverVid(1080,720);
    // If not using jQuery (Native Javascript)
      //coverVid(document.querySelector('.masthead-video'), 1920, 1080);
    });
  </script>
  
<!-- Video Markup -->
<header id='concert_header'>
  <ul class="concert_menu wow bounceInUp animated">
    <li class='concert_line'>_____</li>
    <li class='concert_line'>_____</li>
    <li class='concert_line'>_____</li>
  </ul>
  <div id='music'>
    <%= image_tag 'pillar1.png', class: 'pillars_menu', id: 'pillar1_menu' %>
    <%= image_tag 'pillar2.png', class: 'pillars_menu', id: 'pillar2_menu' %>
    <%= image_tag 'pillar3.png', class: 'pillars_menu', id: 'pillar3_menu' %>
    <%= image_tag 'pillar2.png', class: 'pillars_menu', id: 'pillar2_2_menu' %>
    <%= image_tag 'pillar1.png', class: 'pillars_menu', id: 'pillar1_1_menu' %>
  </div>
  <%= link_to image_tag('camera.png', id: 'camera_concert'), root_path %>
</header>


<div id="vid_area">
  <section class="masthead">
    <video class="masthead-video" autoplay loop muted>
      <source src="<%= @header_video %>" type="video/mp4">
    </video>
    </video>
    <div class="masthead-overlay"></div>
    <div class="masthead-arrow"></div>


    <h1 id="video-header" class="wow fadeInDown animated" data-wow-delay='1.3s'>
      <% @concert.artists.each do |artist| %>
        <%= link_to artist.name, "../artists/#{artist.id}" %><br>
      <% end %>


      <span>@ <%= @concert.venue %></span></h1>


    </a>
  </section>

  <div>
      <%= image_tag "layout.png", id: 'many' %>
    </div>
  <section class="content">


    <div class="container">

    <div = "no-videos">
       <% if @related_videos.count == 0 %>
        <h2> Sorry, there are no videos for the concert yet.</h2>
        <% if !current_user %>
          <h3> Why don't you sign up and post some (^_^)?</h3>
        <% end %>
      <% end %>
    </div>

    <% if current_user %>
      <div class="upload-form-container">
        <%= render partial: 'upload', :locals => {:s3_direct_post => @s3_direct_post} %>
      </div>
    <% end %>


      <div id="attendance-container">
        <div id="attendance-count">
          <% if @concert.attendance == 1 %>
            <h4><span id="user-numbers"><%= @concert.attendance %></span> user attended</h4>
          <% else %>
              <h4><span id="user-numbers"><%= @concert.attendance %></span> users attended</h4>
          <% end %>
        </div>

        <% if current_user %>
          <div id="user-attend">
            <% if current_user.attends.where(concert_id: @concert.id).count > 0 %>
              <button id="attend-btn">Attended!</button>
            <% else %>
              <%= button_to 'I was there!', attends_path(:user_id => current_user.id, :concert_id => @concert.id), id: "attend-btn", data:{ :user_id => current_user.id, :concert_id => @concert.id }   %>
            <% end %>
          </div>
        <% end %>
      </div>

      <div class="video-container">
      <%= render partial: 'videos', :locals => {:related_videos => @related_videos, :concert_id => @concert.id} %>
    </div>

    </div>
  </section>
</div>


